body, html {
  font-family: 'Lato', sans-serif;
  text-decoration:none;
  color: white;
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #dedede;
  letter-spacing: 1px;
  font-family: Archer,Georgia,serif;
  position: relative;
}
/* TOP MENUS & SNS ICONS */
.home-header {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}
.sns-icons{
  padding-top: 20px;
  padding-left: 30px;
}
.menu{
  float: right;
  padding-right: 30px;
  padding-top: 34px;
}
.menu a{
  color: white;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  text-decoration:none;
}
.menu a:hover{
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
#logo{
  padding-left: 3%;
  padding-top: 25px;
  height:85px;
}

/*ABOUT ME - TITLE*/
h1{
  text-align: left;
  padding-top: 8%;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
h3{
  text-align: left;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 1%;
}
#hello{
  margin-left: 9%;
  margin-right: 8%;
}
/* Responsive */
@media screen and (min-width:600px) and (max-width:959px) {
  .home-header {
    display: table;
    width: 100%;
    height: 100vh;
}
h1{
  text-align: left;
  padding-top: 12%;
  font-size: 38px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
h3{
  text-align: left;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  padding-top: 0px;
  margin-top: 0px;
}
#logo{
  margin-left: 3%;
  margin-top: -5px;
  padding-left: 0;
  height: 85px;
}
#aquarius{
height:65px;
}
#intro{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 10px;
  display:inline-block;
  vertical-align:top;
}
#hello{
  margin-left: 9%;
  margin-right: 8%;
}
}

@media screen and (max-width:599px) { 
  .home-header {
  display: table;
  width: 100%;
  height: 100vh;
}
h1{
  text-align: left;
  padding-top: 12%;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
h3{
  text-align: left;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  padding-top: 0px;
  margin-top: 0px;
}
#logo{
  margin-left: 3%;
  margin-top: -5px;
  padding-left: 0;
  height: 85px;
}
#aquarius{
  height:50px;
}
#intro{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
  padding-right: 5%;
  padding-top: 10px;
  display:inline-block;
  vertical-align:top;
}
#hello{
  margin-left: 9%;
  margin-right: 8%;
}
}


/*ABOUT ME - IMAGES & CONTENTS*/
#intro{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 10px;
  display:inline-block;
  vertical-align:top;
}
#about{
  padding-bottom: 150px;
}
#about img{
  height: 350px;
  width: 350px;
  margin-top: 5%;
  margin-left: 18%;
}
#photo{
  height: 230px;
  margin-right: 50px;

}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;  
}
.clearfix a{
  color: white;
  border-bottom: 1px solid white;
}
/* image */
#aquarius{
height:85px;
}
/*画像と文書を並べて表示時する*/
  .inner {     
  float: left ;　 /*左側に配置する*/
  }
  .inner p{
  float:right; 　 /*右側に配置する*/
   }

   .container{
  text-align: center;
}
/* Footer */
footer{
  display: table;
  width: 100%;
  height: 30vh;
  background-color: orange;
}
footer p{
  text-align: center;
  padding-left: 10px;
  margin-top: 3%;
  margin-left:7%;
  font-family: 'Lato', sans-serif;
}
#footer-sns{
  text-align:center;
} 
.box{
  margin: auto;
  padding-top: 15px;
  text-align: center;
  width: 250px;
}
#up{
  height: 50px;
  padding-left: 8px;
} 
